* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
h5{
    text-align: center;
    text-transform: capitalize;
}
h3{
    text-align: center;
    text-transform: capitalize;
}
h1{
text-align: center;
text-transform: capitalize;
}
P{
    text-align: center;
    font-weight: 200;
    text-transform: capitalize;
}
.first{
    height: 250px;
    font-weight: 200px;
    /* background-color: #75aa31; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-evenly ;
    
    
}
.last{
    height: 250px;
    font-weight: 200px;
    /* background-color: #75aa31; */
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content:space-evenly; */
    margin-top: 30px;
    margin-left: 150px;
    
    
}
.child1{
    height: 100%;
    width: 200px;
    border: 2px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 10px;
    left: 50px;
    padding-bottom: 70px;
}
.child2{
     height: 100%;
    width: 200px;
    border: 2px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 10px;
    left: 50px;
    padding-bottom: 70px;
}
.child3{
     height: 100%;
    width: 200px;
    border: 2px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 10px;
    left: 50px;
    padding-bottom: 70px;
}
.child4{
     height: 100%;
    width: 200px;
    border: 2px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 10px;
    left: 50px;
    padding-bottom: 70px;
}
.child5{
    height: 100%;
    width: 200px;
    border: 2px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 10px;
    left: 50px;
    padding-bottom: 70px;
    
}
.child6{
    height: 100%;
    width: 200px;
    border: 2px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 10px;
    left: 50px;
    padding-bottom: 70px;
    position: absolute;
    left: 395px;
    
}
.schild1{
    height: 150px;
    width: 150px;
    border: 2px solid whitesmoke;
}
.schild2{
    height: 150px;
    width: 150px;
    border: 2px solid whitesmoke;
}
.schild3{
    height: 150px;
    width: 150px;
    border: 2px solid whitesmoke;
}
.schild4{
    height: 150px;
    width: 150px;
    border: 2px solid whitesmoke;
}
.schild5{
    height: 150px;
    width: 150px;
    border: 2px solid whitesmoke;
    
}
.schild6{
    height: 150px;
    width: 150px;
    border: 2px solid whitesmoke;
    
    
}
img{
    height: 100%;
    width: 100%;
}
.footer{
    height: 80px;
    width: 100%;
    /* background-color: red; */
    border: 2px solid whitesmoke;
    position: absolute;
    bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
